<!DOCTYPE html>
<html>

<head>
  <title>{{ pageTitle }}</title>
  <link rel="icon" href="{{ baseURI }}/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://172.16.110.111:9005/build/app.css" rel="stylesheet"></head>

<body>
  <div id="root"></div>

  <script type="text/javascript">
    window.__INITIAL_STATE__ = {{ initState | safe }}
    window.__config__ = {{ config | safe }}
  </script>
<script type="text/javascript" src="http://172.16.110.111:9005/build/app.js"></script></body>

</html>
